# Entorno virtual
/richi/
env/
venv/

# Archivos de entorno
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de compilación
*.so

# Archivos de logs
*.log

# Archivos de base de datos locales
*.sqlite3

# Configuración de VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db